* {
  background-color: #101124;
}

.homepage {
  margin: 2rem;
  padding: 2rem;
  background: #16182e;
  color: white !important;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.models {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
